
    <div class="profile-card">
        <div class="header">
            <h2>Admin</h2>
            <h4>admin@gmail.com</h4>
        </div>
        <img class="profile-card-img"src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    </div>
    <mat-divider></mat-divider>
    <mat-nav-list>
    <h2 matSubheader>Pages</h2>
    
    <a mat-list-item  routerlink="/">Dashboard</a>
    <a mat-list-item  routerlink="front"> View</a>
    <!-- <button routerlink="/">Dashboard</button>
    <button routerlink="/front/home">View</button> -->
</mat-nav-list>
